body{
  background: linear-gradient(120deg, #7befb2, #1e824c);
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
}

.header{
  margin: 20px auto;
  max-width: 720px;
}

.todolist{
  &__wrapper{
    background: coral;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 20px;
    border-radius: 15px;
  }  
  &__title{
    align-self: center;
    font-size: 34px;
    font-weight: 700;
    margin: 10px 0 20px;
  }
  &__inputField{
    border: none;
    font-size: 30px;
    cursor: pointer;
    background: white;
    margin: 20px 10px;
  }
  &__addTask{
    border: 1px solid black;
    font-size: 30px;
    cursor: pointer;
    background: white;
    color: #1e824c;
    margin: 10px 10px 20px;
  }

  &__filter{
    font-size: 20px;
    margin: 10px;
  }

  &__list{
    border-top: 1px solid black;
  }

  &__item{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 20px 10px;
    background: #fff8dc;
    //opacity: .8;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  &__item.done{
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.4s ease;
  }
}